@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.mainContainer {
    background-image: url(/img/lightbulb-background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.navbar {
    border-radius: 10px;
    background-color: rgb(40, 40, 43, 0.7);
    backdrop-filter: blur(8px);
    color: white;
}

.profilePicBG,
.aboutCard {
    border: 2px solid white;
    background-color: transparent;
    backdrop-filter: blur(8px);
    height: 100%;
    text-align: center;
    color: black;
    font-size: 1em;
}

.navbar {
    letter-spacing: 1px;
}

.navbar-brand {
    font-weight: 800;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    font-weight: 700;
    color: white;
}

.nav-link {
    color: antiquewhite;
}

.nav-link:hover {
    color: white;
}

.card-header {
    background: transparent;
    font-weight: 700;
}

.cardLeft {
    margin-right: 15px;
}

.cardRight {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

.profilePicture {
    width: 100%;
    border-radius: 10px;
}